---
title: "Reflections on: Triple Storage for Random-Access<br />Versioned Querying of RDF Archives"
---
<header markdown="1">
# <%= @item[:title] %>

### Short version of [article in Journal of Web Semantics](https://rdfostrich.github.io/article-jws2018-ostrich/)

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande' %>
- <%= person 'Joachim Van Herwegen', '#', 'https://data.verborgh.org/people/joachim_van_herwegen' %>
- <%= person 'Erik Mannens', 'https://www.ugent.be/ea/idlab/en/members/erik-mannens.htm', 'https://data.verborgh.org/people/erik_mannens' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec
- Identifier: [https://rdfostrich.github.io/article-iswc2019-journal-ostrich/](https://rdfostrich.github.io/article-iswc2019-journal-ostrich/)

<section class="context" markdown="block">
## In reply to
- [Call for Linked Research](https://linkedresearch.org/calls){:rel="as:inReplyTo"}
- [ISWC 2019 Call for Journal track](https://iswc2019.semanticweb.org/call-for-journal-track/){:rel="as:inReplyTo"}
<br /><br />
</section>

<%= section 'abstract' %>
</header>

<main>
  <%= section 'introduction'  %>
  <%= section 'related-work'  %>
  <%= section 'storage'  %>
  <%= section 'querying'  %>
  <%= section 'evaluation'  %>
  <%= section 'conclusions'  %>
</main>

<footer></footer>
